<div class="container">
    <div class="jumbotron mt-3">
      <h1>OAuth Client Demo</h1>
      <p class="lead">OAuth/OpenID Connect Demo using Angular, ASP.NET Core and IdentityServer 4</p>
      <br>
      <button class="btn btn-lg btn-primary" (click)="login()">Login with IdentityServer</button>
    </div>
</div>